<% content_for :title, 'Edit Contact' %>
<h1 class='heading--compressed'>Edit Account</h1>

<%= @contact.account.email %>

<%= form_for(@contact, url: contact_path, method: 'patch') do %>
  <%= render('form_errors', object: @contact) if @contact.errors.any? %>
  <%= button_tag(class: 'input-add-on__field  input-add-on__field--secondary--1') do %>
    <%= fa_icon('save') %>
    Save and Continue
  <% end %>
<% end %>

