<% content_for :title, 'Edit Contact' %>
<h1 class='heading--compressed'>Edit Contact</h1>

<%= form_for(@contact, url: contact_path, method: 'patch') do |f| %>
  <%= render('form_errors', object: @contact) if @contact.errors.any? %>
  <div class='form__field'>
    <%= f.label :full_name %>
    <%= f.text_field :full_name, class: 'form__row' %>
    <div class='form__field__error'><%= show_errors(@contact, :full_name) %></div>
  </div>
  <div class='form__field'>
    <%= f.label :address_line_1, required: true %>
    <%= f.text_field :address_line_1, class: 'form__row' %>
    <div class='form__field__error'><%= show_errors(@contact, :address_line_1) %></div>
  </div>
  <div class='form__field'>
    <%= f.label :address_line_2 %>
    <%= f.text_field :address_line_2, class: 'form__row' %>
    <div class='form__field__error'><%= show_errors(@contact, :address_line_2) %></div>
  </div>
  <div class='form__field'>
    <%= f.label :town, 'Town / City' %>
    <%= f.text_field :town, class: 'form__row' %>
    <div class='form__field__error'><%= show_errors(@contact, :town) %></div>
  </div>
  <div class='form__field'>
    <%= f.label :county %>
    <%= f.text_field :county, class: 'form__row' %>
    <div class='form__field__error'><%= show_errors(@contact, :county) %></div>
  </div>
  <div class='form__field  u-padding-bottom'>
    <%= f.label :postcode %>
    <%= f.text_field :postcode, class: 'form__row' %>
    <div class='form__field__error'><%= show_errors(@contact, :postcode) %></div>
  </div>
  <div class="actions list__card__divider">
    <%= button_tag(class: 'input-add-on__field  input-add-on__field--secondary--1') do %>
      <%= fa_icon('save') %>
      Save and Continue
    <% end %>
  </div>
<% end %>

