<% content_for :title, 'Make Offer' %>
<h1 class='headings--compressed'>New Offer</h1>

<%= @book.title %><br>
<%= @book.author %>

<%= form_tag(book_offers_path(@book), method: 'post') do %>
  <%= button_tag(class: 'input-add-on__field  input-add-on__field--secondary--1') do %>
    <%= fa_icon('plus') %>
    Make Offer
  <% end %>
<% end %>

