<header class='banner  banner--dark  box  box--full'>
  <h1 class='box__item--main'>ROE</h1>
  <div class='box  box--column  box--center'>
    <div class='box  '>
      <div class='box__item'><a class='button button__secondary--1'>Log In</a></div>
      <div class='box__item'><%= link_to('Sign Up', new_account_registration_path, class: 'button button__secondary--2') %></div>
      </div>
  </div>
</header>

<div class="notice"><%= notice %></div>
<div class="alert"><%= alert %></div>

<h2>Welcome to Earth's Smallest Book Trading Store</h2>

<section class='list'>
  <div class='list__card  list__card--compliment'>
    <p class='list__card__text  list__card__text__lead'>Give away books you have read,</p> <p class='list__card__text'>get an unread one instead.</p>
  </div>
  <div class='list__card  list__card--primary-light'>
    <div class="grid grid--gutters">
      <div class="grid__cell">
        Title
      </div>
      <div class="grid__cell">
        Author
      </div>
    </div>
  <% @books.each do |book|  %>
    <div class="grid grid--gutters">
      <div class="grid__cell">
        <%= book.title %>
      </div>
      <div class="grid__cell">
        <%= book.author %>
      </div>
    </div>
  <% end %>
</section>
