<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <div class='layout__v-wrapper'>
      <div class='layout__site'>
        <%= render 'layouts/header' %>
        <%= render 'layouts/messages' %>
        <div class='layout__w-wrapper'>
          <%= yield %>
        </div>
      </div>
      <div class='layout__footer  menu--dark'>
        <%= render 'layouts/menu' %>
      <div>
    </div>
  </body>
</html>
