<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <div class='layout__v-wrapper'>
      <%= render 'layouts/header' %>
      <%= render 'layouts/messages' %>
      <%= yield %>
      <div class='layout__footer'>
        <div class='layout__w-wrapper  menu'>
          <div class='menu__item'>
            <%= fa_icon 'user' %>
            Account
          </div>
          <div class='menu__item'>
            <%= fa_icon 'book' %>
            Library
          </div>
        </div>
      <div>
    </div>
  </body>
</html>
